<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReservasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4920/ReservasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservasService"
                contract="ReservasWS.IReservasService" name="BasicHttpBinding_IReservasService" />
        </client>
    </system.serviceModel>
</configuration>