<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReservaService" />
                <binding name="BasicHttpBinding_IAlumnosService" />
                <binding name="BasicHttpBinding_INotasService" />
                <binding name="BasicHttpBinding_IPagosService" />
                <binding name="BasicHttpBinding_ILibrosPerstadosService" />
                <binding name="BasicHttpBinding_IReservasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4920/ReservaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservaService"
                contract="WSMatricula.IReservaService" name="BasicHttpBinding_IReservaService" />
            <endpoint address="http://localhost:4920/AlumnosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlumnosService"
                contract="WSAlumnos.IAlumnosService" name="BasicHttpBinding_IAlumnosService" />
            <endpoint address="http://localhost:4920/NotasService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotasService" contract="WSNotas.INotasService"
                name="BasicHttpBinding_INotasService" />
            <endpoint address="http://localhost:4920/PagosService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPagosService" contract="WSPagos.IPagosService"
                name="BasicHttpBinding_IPagosService" />
            <endpoint address="http://localhost:4920/LibrosPerstadosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibrosPerstadosService"
                contract="WSLibrosPrestados.ILibrosPerstadosService" name="BasicHttpBinding_ILibrosPerstadosService" />
            <endpoint address="http://localhost:4920/ReservasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservasService"
                contract="WSReservas.IReservasService" name="BasicHttpBinding_IReservasService" />
        </client>
    </system.serviceModel>
</configuration>
